/* INICIO - CORPO DO SITE */
body {
    background-color: #ffffff;
    overflow-x: hidden;
    height: 900px;
}
/* FINAL - CORPO DO SITE */
/* INICIO - ALL */
* {
    margin: 0;
    padding: 0;
}
/* FINAL - ALL */
/* INICIO - LETRAS DO MENU DE NAVEGAÇÃO */
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}
/* INICIO - LOGO MENU DE NAVEGAÇÃO */
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
/* FINAL - LOGO MENU DE NAVEGAÇÃO */
/* INICIO - MENU DE NAVEGAÇÃO */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #5bb318;
    height: 13vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
/* FINAL - MENU DE NAVEGAÇÃO */

.titulo{
    font-size: 100px; /*tamanho da fonte*/
    font-family: 'Passion One';
    text-align: center; /*centraliza o títilo*/
}

/* INÍCIO - BOTÕES COM IMAGEM */
.img1{
    border-radius: 50%;/*margem redonda*/
    height: 200px; /*altura da imagem*/
    width: 200px; /*largura da imagem*/
    margin-left: 15%;
    margin-top: 10%;
    position: absolute;
}
.img2{
    border-radius: 50%;/*margem redonda*/
    height: 200px; /*altura da imagem*/
    width: 200px; /*largura da imagem*/
    margin-left: 45%;
    margin-top: 10%;
    position: absolute;
}
.img3{
    border-radius: 50%; /*margem redonda*/
    height: 200px; /*altura da imagem*/
    width: 200px; /*largura da imagem*/
    margin-left: 75%;
    margin-top: 10%;
    position: absolute;
}
/*FINAL - BOTÕES COM IMAGEM*/
/*INÍCIO - TEXTO DE DESCRIÇÃO*/
.texto1{
    font-size: 50px; /*tamanho da fonte*/
    margin-left: 18%; 
    margin-top: 25%; 
    position: absolute; 
    font-family: 'Passion One';
}
.texto2{
    font-size: 50px; /*tamanho da fonte*/
    margin-left: 47%;
    margin-top: 25%; 
    position: absolute; 
    font-family: 'Passion One';
}
.texto3{
    font-size: 50px; /*tamanho da fonte*/
    margin-left: 77%; 
    margin-top: 25%; 
    position: absolute;
    font-family: 'Passion One';
}
/*FINAL - TEXTO DE DESCRIÇÃO*/
/*INÍCIO LINHA VERMELHA*/
.linha{
    background-color:#d62509;/*cor da linha*/
    width: 760px; /*tamanho/largura*/
    height: 5px; /*altura/grossura da linha*/
    margin-left: 22%;/*posição da linha*/
}
/*FINAL LINHA VERMELHA*/