
/* INICIO - CORPO DO SITE */
body {
    background-color: #ffffff;
    overflow-x: hidden;
    height: 4000px;
}
/* FINAL - CORPO DO SITE */
/* INICIO - ALL */
* {
    margin: 0;
    padding: 0;
}
/* FINAL - ALL */
/* INICIO - LETRAS DO MENU DE NAVEGAÇÃO */
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}
/* INICIO - LOGO MENU DE NAVEGAÇÃO */
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
/* FINAL - LOGO MENU DE NAVEGAÇÃO */
/* INICIO - MENU DE NAVEGAÇÃO */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:'Arimo', sans-serif;
    background: #5bb318;
    height: 13vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
/* FINAL - MENU DE NAVEGAÇÃO */

/* ÍNICIO - IMAGEM RESPONSIVA */
.container{
    width: 1550px;
    margin: auto;
    position: relative;
}
.container{
    width: 100%;
}
img{
    max-width: 100%;
    max-height: 100%;
}
/* FINAL - IMAGEM RESPONSIVA */
/* INICIO - TÍTULO RESPONSIVO */
.titulo1{
    font-family: 'Passion One';
    position: absolute;
    top: 40%;
    left: 20%;
    text-align: center;
    font-size: clamp(3.75em, 1em + 7vw, 10.5em);
}

#titulo2{
    font-family: 'PassionOne-Bold';
    margin-top: -740px;
    position: absolute;
    top: 40%;
    left: 790px;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
}
/* FINAL - TÍTULO RESPONSIVO */

#sobrenos{
    margin-top: 100px;
    width: 50%;
    height: 110vh;
}

#titulo3{
    margin-top: 100px;
    position: absolute;
    top: 40%;
    left: 130px;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
}

#aula{
    margin-top: 250px;
    position: absolute;
    right: 0%;
    width: 50%;
    height: 110vh;
}

#titulo4{
    margin-top: 150px;
    position: absolute;
    top: 387vh;
    right: 10%;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
}

#evento{
    margin-top: 180vh;
    position: absolute;
    left: 0%;
    width: 50%;
    height: 110vh;
}
