/* INICIO - CORPO DO SITE */
body {
    background-color: #ffffff;
    overflow-x: hidden;
    height: 900px;
}
/* FINAL - CORPO DO SITE */
/* INICIO - ALL */
* {
    margin: 0;
    padding: 0;
}
/* INICIO - LETRAS DO MENU DE NAVEGAÇÃO */
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Arimo';
}
a:hover {
    opacity: 0.7;
}
/* INICIO - LOGO MENU DE NAVEGAÇÃO */
.logo {
    letter-spacing: 4px;
    z-index: 1;
    margin-top: -8%;
    position: absolute;
    width: 41%;
    margin-left: -31%;
}
/* FINAL - ALL */
/* INICIO - MENU DE NAVEGAÇÃO */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Arimo';
    background: #5bb318;
    height: 9vh;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-top: 4%;
    margin-left: 29%;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    z-index: 1;
}
/* ONDA INÍCIO */
.ondain{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 3%;
}
/* FINAL - MENU DE NAVEGAÇÃO */

.titulo{
    font-size: 100px; /*tamanho da fonte*/
    font-family: 'Passion One';
    text-align: center; /*centraliza o títilo*/
    margin-top: 4%;
    color: #09400A;
}

/* INÍCIO - BOTÕES COM IMAGEM */
.img1{
    border-radius: 50%;/*margem redonda*/
    height: 200px; /*altura da imagem*/
    width: 200px; /*largura da imagem*/
    margin-left: 25%;
    margin-top: 6%;
    position: absolute;
}
.img2{
    border-radius: 50%;/*margem redonda*/
    height: 200px; /*altura da imagem*/
    width: 200px; /*largura da imagem*/
    margin-left: 52%;
    margin-top: 6%;
    position: absolute;
}

/*FINAL - BOTÕES COM IMAGEM*/
/*INÍCIO - TEXTO DE DESCRIÇÃO*/
.texto1{
    font-size: 50px; /*tamanho da fonte*/
    margin-left: 33%; 
    margin-top: 21%; 
    position: absolute; 
    font-family: 'Passion One';
}
.texto2{
    font-size: 50px; /*tamanho da fonte*/
    margin-left: 60%;
    margin-top: 21%; 
    position: absolute; 
    font-family: 'Passion One';
}
.texto3{
    font-size: 50px; /*tamanho da fonte*/
    margin-left: 77%; 
    margin-top: 25%; 
    position: absolute;
    font-family: 'Passion One';
}
/*FINAL - TEXTO DE DESCRIÇÃO*/
/*INÍCIO LINHA VERMELHA*/
.linha{
    background-color:#d62509;/*cor da linha*/
    width: 760px; /*tamanho/largura*/
    height: 5px; /*altura/grossura da linha*/
    margin-left: 22%;/*posição da linha*/
    margin-top: -1%;
}
/*FINAL LINHA VERMELHA*/

#logomarista{
    margin-top: 39%;
    z-index: 2;
    height: 12%;
    margin-left: 34%;
    position: absolute;
}
/* ONDA FINAL */
.ondafin{
    position: absolute;
    bottom: 0;
    left: 0%;
    top: 100%;
    width: 100%;
    z-index: -2;
}
