body { 
    overflow-x: hidden;
    height: 4250px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #ffffff;
    height: 13vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    z-index: 1;
}
/* ONDA INÍCIO */
.ondain{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: -2%;
    width: 120%;
}
/* INICIO - TÍTULO RESPONSIVO */
.titulo1{
    font-family: 'Passion One';
    position: absolute;
    top: 15%;
    left: 22%;
    text-align: center;
    font-size: clamp(3.75em, 1em + 10vw, 6.5em);
    color: #09400A;
}
/*LINHA ABAIXO DO PRIMEIRO TÍTULO */
.linha1{
    background-color: #D62509;
    position: absolute;
    width: 320px;
    height: 5px;
    margin-left: 19%;
    margin-top: 8%;
}
/* SUBITULO AULAS */
.subtitulo1{
    font-family: 'Arimo';
    margin-top: 9%;
    margin-left: 19%;
    position: absolute;
    text-align: center;
    font-size: clamp(1.0em, 1em + 5vw, 1.5em);
}  
/*BOLA FUTEBOL*/
#bola1{
    height: 11%;
    width: 30%;
    margin-left: 73%;
    margin-top: 5%;
} 
/* TÍTULO FUTEBOL */
#titulo2{
    font-family: 'Passion One';
    margin-top: -1%;
    margin-left: 10%;
    position: absolute;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
    color: #021803;
}
/* LINHA ABAIXO DE FUTEBOL */
.linha2{
    background-color: #D62509;
    position: absolute;
    width: 300px;
    height: 5px;
    margin-left: 10%;
    margin-top: 5%;
}
/*IMAGEM FUTEBOL*/
#futebol{
    height: 50%;
    width: 30%;
    margin-left: 10%;
    margin-top: -25%;
    position: absolute;
    border-radius: 5%;
}
/*TEXTO FUTEBOL*/
.futebol{
    font-family: 'Arimo';
    margin-top: 685px;
    position: absolute;
    top: 3%;
    left: 10%;
    text-align: left;
    font-size: clamp(1.4em, 1em + 5vw, 1.0em);
    line-height: 40px;
}
/*BOTÃO FUTEBOL*/
.botao1{
    font-family: 'Passion One'; 
    color: #ffffff;
    letter-spacing: 3px;
    background-color: #FFB200;
    border-color: #FFB200;
    border-radius: 7px;
    font-size: 35px;
    padding: 10px 19px;
    margin-left: 10%;
    margin-top: 18%;
    position: absolute;
}
/*BOLA VOLEI*/
#bola2{
    height: 10%;
    width: 45%;
    margin-left: 0%;
    margin-top: 27%;
} 
/* TÍTULO VOLEI */
#titulo3{
    font-family: 'Passion One';
    margin-top: 0%;
    margin-left: 55%;
    position: absolute;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
    color: #021803;
}
/* LINHA ABAIXO DE VOLEI */
.linha3{
    background-color: #D62509;
    position: absolute;
    width: 200px;
    height: 5px;
    margin-left: 55%;
    margin-top: 6%;
}
/*IMAGEM VOLEI*/
#volei{
    height: 9%;
    width: 32%;
    margin-left: 55%;
    margin-top: -47%;
    position: relative;
    border-radius: 5%;
}
/*TEXTO VOLEI*/
.volei{
    font-family: 'Arimo';
    margin-top: 685px;
    position: absolute;
    margin-top: 7%;
    left: 55%;
    text-align: left;
    font-size: clamp(1.4em, 1em + 5vw, 1.0em);
    line-height: 40px;
}
/*BOTÃO VOLEI*/
.botao2{
    font-family: 'Passion One'; 
    color: #ffffff;
    letter-spacing: 3px;
    background-color: #FFB200;
    border-color: #FFB200;
    border-radius: 7px;
    font-size: 35px;
    padding: 10px 19px;
    margin-left: 55%;
    margin-top: 14%;
    position: absolute;
}
/*BOLA BASQUETE*/
#bola3{
    height: 9%;
    width: 26%;
    margin-left: 75%;
    margin-top: 23%;
} 
/* TÍTULO BASQUETE */
#titulo4{
    font-family: 'Passion One';
    margin-top: 0%;
    margin-left: 10%;
    position: absolute;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
    color: #021803;
}
/* LINHA ABAIXO DE BASQUETE */
.linha4{
    background-color: #D62509;
    position: absolute;
    width: 330px;
    height: 5px;
    margin-left: 10%;
    margin-top: 6%;
}
/*IMAGEM BASQUETE*/
#basquete{
    height: 10%;
    width: 32%;
    margin-left: 10%;
    margin-top: -25%;
    border-radius: 5%;
}
/*TEXTO BASQUETE*/
.basquete{
    font-family: 'Arimo';
    margin-top: 685px;
    position: absolute;
    margin-top: 7%;
    left: 10%;
    text-align: left;
    font-size: clamp(1.4em, 1em + 5vw, 1.0em);
    line-height: 40px;
}
/*BOTÃO BASQUETE*/
.botao3{
    font-family: 'Passion One'; 
    color: #ffffff;
    letter-spacing: 3px;
    background-color: #FFB200;
    border-color: #FFB200;
    border-radius: 7px;
    font-size: 35px;
    padding: 10px 19px;
    margin-left: 10%;
    margin-top: 14%;
    position: absolute;
}
/*DESENHO SKATE*/
#bola4{
    height: 11%;
    width: 27%;
    margin-left: 0%;
    margin-top: 19%;
}
/* TÍTULO SKATE */
#titulo5{
    font-family: 'Passion One';
    margin-top: 0%;
    margin-left: 55%;
    position: absolute;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
    color: #021803;
}
/* LINHA ABAIXO DE SKATE */
.linha5{
    background-color: #D62509;
    position: absolute;
    width: 200px;
    height: 5px;
    margin-left: 55%;
    margin-top: 6%;
}
/*IMAGEM SKATE*/
#skate{
    height: 10%;
    width: 32%;
    margin-left: 55%;
    margin-top: -35%;
    border-radius: 5%;
}
/*TEXTO SKATE*/
.skate{
    font-family: 'Arimo';
    margin-top: 685px;
    position: absolute;
    margin-top: 7%;
    left: 55%;
    text-align: left;
    font-size: clamp(1.4em, 1em + 5vw, 1.0em);
    line-height: 40px;
}
/*BOTÃO SKATE*/
.botao4{
    font-family: 'Passion One'; 
    color: #ffffff;
    letter-spacing: 3px;
    background-color: #FFB200;
    border-color: #FFB200;
    border-radius: 7px;
    font-size: 35px;
    padding: 10px 19px;
    margin-left: 55%;
    margin-top: 14%;
    position: absolute;
}
/*BOLA HANDEBALL*/
#bola5{
    height: 9%;
    width: 25%;
    margin-left: 79%;
    margin-top: 20%;
}
/* TÍTULO HANDEBALL */
#titulo6{
    font-family: 'Passion One';
    margin-top: 0%;
    margin-left: 10%;
    position: absolute;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
    color: #021803;
}
/* LINHA ABAIXO DE HANDEBALL*/
.linha6{
    background-color: #D62509;
    position: absolute;
    width: 330px;
    height: 5px;
    margin-left: 10%;
    margin-top: 6%;
}
/*IMAGEM HANDEBALL*/
#handeball{
    height: 10%;
    width: 32%;
    margin-left: 10%;
    margin-top: -20%;
    border-radius: 5%;
}
/*TEXTO HANDEBALL*/
.handeball{
    font-family: 'Arimo';
    margin-top: 685px;
    position: absolute;
    margin-top: 8%;
    left: 10%;
    text-align: left;
    font-size: clamp(1.4em, 1em + 5vw, 1.0em);
    line-height: 40px;
}
/*BOTÃO HANDEBALL*/
.botao5{
    font-family: 'Passion One'; 
    color: #ffffff;
    letter-spacing: 3px;
    background-color: #FFB200;
    border-color: #FFB200;
    border-radius: 7px;
    font-size: 35px;
    padding: 10px 19px;
    margin-left: 10%;
    margin-top: 13%;
    position: absolute;
}
/* ONDA FINAL */
.onda2{
    position: absolute;
    bottom: 0;
    left: 0%;
    top: 615%;
    width: 100%;
}