body { 
    overflow-x: hidden;
    height: 3200px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.7;
}
/* INICIO - LOGO MENU DE NAVEGAÇÃO */
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    z-index: 1;
}
/* FINAL - LOGO MENU DE NAVEGAÇÃO */
/* INICIO - MENU DE NAVEGAÇÃO */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Arimo';
    background: #5bb318;
    height: 9vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    z-index: 1;
}
/* ONDA INÍCIO */
.ondain{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0%
}
/* INICIO - TÍTULO RESPONSIVO */
.titulo1{
    font-family: 'Passion One';
    position: absolute;
    top: 25%;
    left: 38%;
    text-align: center;
    font-size: clamp(3.75em, 1em + 10vw, 6.5em);
    color: #09400A;
}
/*LINHA ABAIXO DO PRIMEIRO TÍTULO */
.linha1{
    background-color: #D62509;
    position: absolute;
    width: 320px;
    height: 5px;
    margin-left: 34.5%;
    margin-top: 14.5%;
}
/* SUBITULO AULAS */
.subtitulo1{
    font-family: 'Arimo';
    margin-top: 15%;
    margin-left: 19%;
    position: absolute;
    text-align: center;
    font-size: clamp(1.0em, 1em + 5vw, 1.5em);
}  
/*BOLA FUTEBOL
#bola1{
    height: 11%;
    width: 30%;
    margin-left: 73%;
    margin-top: 5%;
} */
/* TÍTULO FUTEBOL */
#titulo2{
    font-family: 'Passion One';
    margin-top: 24%;
    margin-left: 55%;
    position: absolute;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
    color: #021803;
}
/* LINHA ABAIXO DE FUTEBOL */
.linha2{
    background-color: #D62509;
    position: absolute;
    width: 300px;
    height: 5px;
    margin-left: 55%;
    margin-top: 30%;
}
/*IMAGEM FUTEBOL*/
#futebol{
    height: 50%;
    width: 30%;
    margin-left: 10%;
    margin-top: 25%;
    position: absolute;
    border-radius: 3%;
}
/*TEXTO FUTEBOL*/
.futebol{
    font-family: 'Arimo';
    margin-top: 685px;
    position: absolute;
    top: -21%;
    left: 55%;
    text-align: left;
    font-size: clamp(1.2em, 1em + 5vw, 1.0em);
    line-height: 30px;
}
/*BOTÃO FUTEBOL*/
.botao1{
    font-family: 'Passion One'; 
    color: #ffffff;
    letter-spacing: 3px;
    background-color: #FFB200;
    border-color: #FFB200;
    border-radius: 7px;
    font-size: 35px;
    padding: 10px 19px;
    margin-left: 55%;
    margin-top: 45%;
    position: absolute;
}

/* TÍTULO VOLEI */
#titulo3{
    font-family: 'Passion One';
    margin-top: 62%;
    margin-left: 10%;
    position: absolute;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
    color: #021803;
}
/* LINHA ABAIXO DE VOLEI */
.linha3{
    background-color: #D62509;
    position: absolute;
    width: 200px;
    height: 5px;
    margin-left: 10%;
    margin-top: 68%;
}
/*IMAGEM VOLEI*/
#volei{
    height: 60%;
    width: 32%;
    margin-left: 55%;
    margin-top: 62%;
    position: absolute;
    border-radius: 3%;
}
/*TEXTO VOLEI*/
.volei{
    font-family: 'Arimo';
    position: absolute;
    margin-top: 74%;
    left: 10%;
    text-align: left;
    font-size: clamp(1.2em, 1em + 5vw, 1.0em);
    line-height: 30px;
}
/*BOTÃO VOLEI*/
.botao2{
    font-family: 'Passion One'; 
    color: #ffffff;
    letter-spacing: 3px;
    background-color: #FFB200;
    border-color: #FFB200;
    border-radius: 7px;
    font-size: 35px;
    padding: 10px 19px;
    margin-left: 10%;
    margin-top: 86.5%;
    position: absolute;
}

/* TÍTULO BASQUETE */
#titulo4{
    font-family: 'Passion One';
    margin-top: 102%;
    margin-left: 55%;
    position: absolute;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
    color: #021803;
}
/* LINHA ABAIXO DE BASQUETE */
.linha4{
    background-color: #D62509;
    position: absolute;
    width: 330px;
    height: 5px;
    margin-left: 55%;
    margin-top: 108%;
}
/*IMAGEM BASQUETE*/
#basquete{
    height: 60%;
    width: 32%;
    margin-left: 10%;
    margin-top: 102%;
    border-radius: 3%;
    position: absolute;
}
/*TEXTO BASQUETE*/
.basquete{
    font-family: 'Arimo';;
    position: absolute;
    margin-top: 115%;
    left: 55%;
    text-align: left;
    font-size: clamp(1.2em, 1em + 5vw, 1.0em);
    line-height: 30px;
}
/*BOTÃO BASQUETE*/
.botao3{
    font-family: 'Passion One'; 
    color: #ffffff;
    letter-spacing: 3px;
    background-color: #FFB200;
    border-color: #FFB200;
    border-radius: 7px;
    font-size: 35px;
    padding: 10px 19px;
    margin-left: 55%;
    margin-top: 126.5%;
    position: absolute;
}

/* TÍTULO SKATE */
#titulo5{
    font-family: 'Passion One';
    margin-top: 143%;
    margin-left: 10%;
    position: absolute;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
    color: #021803;
}
/* LINHA ABAIXO DE SKATE */
.linha5{
    background-color: #D62509;
    position: absolute;
    width: 205px;
    height: 5px;
    margin-left: 10%;
    margin-top: 149%;
}
/*IMAGEM SKATE*/
#skate{
    height: 60%;
    width: 32%;
    margin-left: 55%;
    margin-top: 143%;
    border-radius: 3%;
    position: absolute;
}
/*TEXTO SKATE*/
.skate{
    font-family: 'Arimo';
    margin-top: 685px;
    position: absolute;
    margin-top: 155%;
    left: 10%;
    text-align: left;
    font-size: clamp(1.2em, 1em + 5vw, 1.0em);
    line-height: 30px;
}
/*BOTÃO SKATE*/
.botao4{
    font-family: 'Passion One'; 
    color: #ffffff;
    letter-spacing: 3px;
    background-color: #FFB200;
    border-color: #FFB200;
    border-radius: 7px;
    font-size: 35px;
    padding: 10px 19px;
    margin-left: 10%;
    margin-top: 167.5%;
    position: absolute;
}

/* TÍTULO HANDEBALL */
#titulo6{
    font-family: 'Passion One';
    margin-top: 183%;
    margin-left: 55%;
    position: absolute;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
    color: #021803;
}
/* LINHA ABAIXO DE HANDEBALL*/
.linha6{
    background-color: #D62509;
    position: absolute;
    width: 375px;
    height: 5px;
    margin-left: 55%;
    margin-top: 189%;
}
/*IMAGEM HANDEBALL*/
#handeball{
    height: 60%;
    width: 32%;
    margin-left: 10%;
    margin-top: 183%;
    border-radius: 3%;
    position: absolute;
}
/*TEXTO HANDEBALL*/
.handeball{
    font-family: 'Arimo';
    margin-top: 685px;
    position: absolute;
    margin-top: 197%;
    left: 55%;
    text-align: left;
    font-size: clamp(1.2em, 1em + 5vw, 1.0em);
    line-height: 30px;
}
/*BOTÃO HANDEBALL*/
.botao5{
    font-family: 'Passion One'; 
    color: #ffffff;
    letter-spacing: 3px;
    background-color: #FFB200;
    border-color: #FFB200;
    border-radius: 7px;
    font-size: 35px;
    padding: 10px 19px;
    margin-left: 55%;
    margin-top: 207.5%;
    position: absolute;
}
#logomarista{
    margin-top: 223%;
    z-index: 2;
    height: 12%;
    margin-left: 34%;
    position: absolute;
}
/* ONDA FINAL */
.onda2{
    position: absolute;
    bottom: 0;
    left: 0%;
    top: 448%;
    width: 100%;
}