body {
    overflow-x: hidden;
    height: 600px;
    width: 100%;
 
}
/*
* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Arimo';
    background: #ffffff;
    height: 13vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    z-index: 1;
}
/* Campos formulario */  
/* INICIO - TÍTULO RESPONSIVO */
.titulo1{
    font-family: "Passion One";
    position: absolute;
    top: -15%;
    left: 2%;
    text-align: center;
    font-size: 85px;
    color: #09400A;
}
/*LINHA ABAIXO DO PRIMEIRO TÍTULO */
.linha1{
    background-color: #D62509;
    position: absolute;
    width: 400px;
    height: 5px;
    left: 2%;
    margin-top: -1%;
}

/*Alinhando os campos */
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: right;
    justify-content: right;
}

#back{
    left: 0%;
    width: 60%;
    top: -3%;
    position: absolute;
}

/* Largura do formulário */
 form{
    position: absolute;
    width: 100%;
    max-width: 350px; 
    margin-top: 8%;
    margin-right: 51%;
 }

 /* Largura dos campos */
div.single-input{
    width: 110%;
    margin: 25px 0; 
    position: relative;
}
/* TEXTO */
div.single-input label{
    font-size: 18px;
    position: absolute;
    left: 0;
    bottom: 33px;
    color: #128013;
    cursor: text;
    transition: 0.3s ease-in-out;
}
/* BARRA E TEXTO DAS INFORMAÇÕES */
div.single-input .input{
    width: 100%;
    padding: 10px;
    color: #000000;
    border: 0;
    border-bottom: 4px solid #5BB318;
    outline: 0;
    font-size: 12px;
}
#numeroaluno{
    width: 120%;
}
/* BARRA NA TRANSIÇÃO */
div.single-input .input:focus,
div.single-input .input:valid{
    border-bottom: 2px solid #128013;
}
/* TEXTO NA TRANSIÇÃO */
div.single-input .input:focus ~ label,
div.single-input .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 16px;
    color: #128013;
}

.btn{
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   margin-bottom: 30px;
   display: block;
   padding: 10px;
   font-weight: bold;
}
.btn1{
    float: right; 
    border:1px solid;
    padding: 10px 15px;
    background:#5BB318;
    border-color: #5bb318;
    border-radius:5px;
    font-size: 24px;
    font-family: "Passion One";
    text-decoration:none;
    vertical-align: middle;
    margin-right: 55%;
    color: #ffff;
 } 

  .btn2{
    float:left;
    border:1px solid;
    padding: 10px 15px;
    background: #D62509;
    border-color: #D62509;
    border-radius: 5px;
    font-size: 24px;
    font-family: "Passion One";
    text-decoration:none;
    margin-top: -17%;
    margin-left: 55%;
    color: #ffff;
  }

.login{
    font-family: "Arimo";
    font-size: 17px;
    margin-top: 20%;
}