
/* INICIO - CORPO DO SITE */
body {
    background-color: #ffffff;
    overflow-x: hidden;
    height: 4000px;
}
/* FINAL - CORPO DO SITE */
/* INICIO - ALL */
* {
    margin: 0;
    padding: 0;
}
/* FINAL - ALL */
/* INICIO - LETRAS DO MENU DE NAVEGAÇÃO */
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}
/* INICIO - LOGO MENU DE NAVEGAÇÃO */
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
/* FINAL - LOGO MENU DE NAVEGAÇÃO */
/* INICIO - MENU DE NAVEGAÇÃO */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:'Arimo', sans-serif;
    background: #5bb318;
    height: 13vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
/* FINAL - MENU DE NAVEGAÇÃO */

/* ÍNICIO - PARALLAX */
section{
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section:nth-of-type(1){
background-image: url(images/teste.jpg);
height: 600px;
}
/* FINAL - PARALLAX */
/* INICIO - TÍTULO RESPONSIVO */

.titulo1{
    font-family: 'Passion One';
    position: absolute;
    top: 40%;
    left: 20%;
    text-align: center;
    font-size: clamp(3.75em, 1em + 10vw, 10.5em);
    color: #09400A;
}

/* TÍTULO SOBRE NÓS */
#titulo2{
    font-family: 'Passion One';
    margin-top: -46%;
    margin-left: 50%;
    position: absolute;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
}
/* FINAL - TÍTULO RESPONSIVO */

/* IMAGEM SOBRE NÓS */
#sobrenos{
    margin-top: -10%;
    width: 50%;
    height: 15%;
}

/* LINHA ABAIXO DE SOBRE NÓS */
.linha1{
    background-color: #D62509;
    position: absolute;
    width: 450px;
    height: 5px;
    margin-left: 50%;
    margin-top: -63%;
}

/* TEXTO DE DESCRIÇÃO SOBRE NÓS */
.sobre{
    font-family: 'Arimo';
    margin-top: 685px;
    position: absolute;
    top: 40%;
    left: 680px;
    text-align: left;
    font-size: clamp(2.0em, 1em + 5vw, 1.0em);
    line-height: 50px;
}

/* BOTÃO SOBRE NÓS */
.botao1{
    font-family: 'Passion One'; 
    color: #ffffff;
    letter-spacing: 3px;
    background-color: #FFB200;
    border-color: #FFB200;
    border-radius: 7px;
    font-size: 35px;
    padding: 11px 30px;
    margin-left: 70%;
    margin-top: -30%;
    position: absolute;
}

/* TÍTULO AULAS */
#titulo3{
    font-family: 'Passion One';
    margin-top: -5%;
    margin-left: 5%;
    position: absolute;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
}
/* LINHA ABAIXO DE AULAS */
.linha2{
    background-color: #D62509;
    position: absolute;
    width: 300px;
    height: 5px;
    margin-left: 5%;
    margin-top: -22%;
}

/* IMAGEM AULAS */
#aula{
    margin-top: -25%;
    margin-left: 55%;
    position: absolute;
    width: 50%;
    height: 90%;
}

/*TEXTO AULAS */
.aulas{
    font-family: 'Arimo';
    margin-top: -20%;
    margin-left: 5%;
    position: absolute;
    text-align: left;
    font-size: clamp(2.0em, 1em + 5vw, 1.0em);
    line-height: 50px;
}

/* BOTÃO AULAS */
.botao2{
    font-family: 'Passion One'; 
    color: #ffffff;
    letter-spacing: 3px;
    background-color: #FFB200;
    border-color: #FFB200;
    border-radius: 7px;
    font-size: 35px;
    padding: 11px 30px;
    margin-left: 35%;
    margin-top: 10%;
    position: absolute;
}


/* TÍTULO EVENTOS */
#titulo4{
    font-family: 'Passion One';
    margin-top: 39%;
    margin-left: 50%;
    position: absolute;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
}

/* IMAGEM EVENTOS */
#evento{
    margin-top: 40%;
    margin-left: 0%;
    position: absolute;
    width: 50%;
    height: 100%;
}

/* LINHA ABAIXO DE EVENTOS */
.linha3{
    background-color: #D62509;
    position: absolute;
    width: 350px;
    height: 5px;
    margin-left: 50%;
    margin-top: 44%;
}

/* TEXTO DE DESCRIÇÃO EVENTOS */
.eventos{
    font-family: 'Arimo';
    margin-top: 46%;
    margin-left: 50%;
    position: absolute;
    text-align: left;
    font-size: clamp(2.0em, 1em + 5vw, 1.0em);
    line-height: 50px;
}


/* BOTÃO EVENTOS */
.botao3{
    font-family: 'Passion One'; 
    color: #ffffff;
    letter-spacing: 3px;
    background-color: #FFB200;
    border-color: #FFB200;
    border-radius: 7px;
    font-size: 35px;
    padding: 11px 30px;
    margin-left: 1000px;
    margin-top: 1600px;
    position: absolute;
}