
/* INICIO - CORPO DO SITE */
body {
    background-color: #ffffff;
    height: 2650px;
    max-height: 2650px;
}
/* FINAL - CORPO DO SITE */
/* INICIO - ALL */
* {
    margin: 0;
    padding: 0;
}
/* FINAL - ALL */
/* INICIO - LETRAS DO MENU DE NAVEGAÇÃO */
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Arimo';
}
a:hover {
    opacity: 0.7;
}
/* INICIO - LOGO MENU DE NAVEGAÇÃO */
/* INICIO - LOGO MENU DE NAVEGAÇÃO */
.logo {
    letter-spacing: 4px;
    z-index: 1;
    margin-top: -8%;
    position: absolute;
    width: 41%;
    margin-left: -31%;
}
/* FINAL - LOGO MENU DE NAVEGAÇÃO */
/* INICIO - MENU DE NAVEGAÇÃO */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Arimo';
    background: #5bb318;
    height: 9vh;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-top: 4%;
    margin-left: 29%;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    z-index: 1;
}
/* ONDA INÍCIO */
.ondain{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 3%;
}

.login{
    margin-left: -40%;
    width: 35%;
    z-index:1;
    position: absolute;
    margin-top: -3%;
}

/* Botoes de login */
.menu-menu {
    border-radius: 0.3em;
    position: absolute;
    margin-top: -1em;
    transition: opacity 0.3s ease;
    z-index: 1;
    margin-left: 6%;
}
.txtlogin{
    z-index: 1;
    margin-top: -0.5%;
    margin-left: 40%;
    margin-right: -8%;
    position: absolute; 
    font-size: 14px;
}
/* FINAL - MENU DE NAVEGAÇÃO */
/* ÍNICIO - PARALLAX */
section{
    width: 100%;
    height: 165px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section:nth-of-type(1){
background-image: url(images/teste.jpg);
height: 685px;
}
/* FINAL - PARALLAX */
/* ONDA ABAIXO DO PARALLAX */
.onda1{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 73%;
}
/* INICIO - TÍTULO RESPONSIVO */
.titulo1{
    font-family: 'Passion One';
    position: absolute;
    top: 40%;
    left: 20%;
    text-align: center;
    font-size: clamp(3.75em, 1em + 10vw, 10.5em);
    color: #09400A;
}
/* TÍTULO SOBRE NÓS */
#titulo2{
    font-family: 'Passion One';
    margin-top: -13%;
    margin-left: 13%;
    position: absolute;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
}
/* FINAL - TÍTULO RESPONSIVO */
/* LINHA ABAIXO DE SOBRE NÓS */
.linha1{
    background-color: #D62509;
    position: absolute;
    width: 450px;
    height: 5px;
    margin-left: 13%;
    margin-top: -19%;
}
/* TEXTO DE DESCRIÇÃO SOBRE NÓS */
.sobre{
    font-family: 'Arimo';
    margin-top: 685px;
    position: absolute;
    top: 23%;
    left: 13%;
    text-align: left;
    font-size: clamp(1.4em, 1em + 5vw, 1.0em);
    line-height: 40px;
}
/* BOTÃO SOBRE NÓS */
.botao1{
    font-family: 'Passion One'; 
    color: #ffffff;
    letter-spacing: 3px;
    background-color: #FFB200;
    border-color: #FFB200;
    border-radius: 7px;
    font-size: 35px;
    padding: 10px 13px;
    margin-left: 32%;
    margin-top: 5%;
    position: absolute;
}
/* ONDA ABAIXO DO SOBRE */
.onda2{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 182%;
}
/* <<<<<<< PARALLAX ENTRE SOBRE E AULAS >>>>>> */
section:nth-of-type(5){
    background-image: url(images/teste.jpg);
    height: 9%;
}

/* ONDA ACIMA AULAS */
.onda3{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 187%;
}
/* TÍTULO AULAS */
#titulo3{
    font-family: 'Passion One';
    margin-top: 11%;
    margin-left: 74%;
    position: absolute;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
}
/* LINHA ABAIXO DE AULAS */
.linha2{
    background-color: #D62509;
    position: absolute;
    width: 255px;
    height: 5px;
    margin-left: 70%;
    margin-top: -1%;
}
/* EFEITO SLIDER AULAS */
#sliderau {
    width: 100%;
    max-width: 500px;
    height: 400px;
    max-height: 400px;
    position: absolute;
    left: 5%;
    top: 226%;
}

#sliderau img{
    opacity: 0;
    position: absolute;
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 15px;
    transition: opacity 600ms;
    z-index: 1;
}

#sliderau img.selectedau{ 
    opacity: 1;
}

/*TEXTO AULAS */
.aulas{
    font-family: 'Arimo';
    margin-top: 0%;
    margin-left: 60%;
    position: absolute;
    font-size: clamp(1.4em, 1em + 5vw, 1.0em);
    line-height: 40px;
    z-index: 1;
    text-align: right;
}
/* BOTÃO AULAS */
.botao2{
    font-family: 'Passion One'; 
    color: #ffffff;
    letter-spacing: 3px;
    background-color: #FFB200;
    border-color: #FFB200;
    border-radius: 7px;
    font-size: 35px;
    padding: 10px 13px;
    margin-left: 60%;
    margin-top: 19.4%;
    position: absolute;
}
/* ONDA ABAIXO AULAS */
.onda4{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 275%;
    z-index: 0;
}

/* <<<<<<< PARALLAX ENTRE AULAS E EVENTOS >>>>>> */
section:nth-of-type(8){
    background-image: url(images/teste.jpg);
    height: 10%;
    }

/* ONDA ACIMA EVENTOS */
.onda5{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 280%;
}

/* TÍTULO EVENTOS */
#titulo4{
    font-family: 'Passion One';
    margin-top: -2%;
    margin-left: 13%;
    position: absolute;
    text-align: center;
    font-size: clamp(3.75em, 1em + 5vw, 10.5em);
}
/* LINHA ABAIXO DE EVENTOS */
.linha3{
    background-color: #D62509;
    position: absolute;
    width: 347px;
    height: 5px;
    margin-left: 13%;
    margin-top: 4%;
}
/* TEXTO DE DESCRIÇÃO EVENTOS */
.eventos{
    font-family: 'Arimo';
    margin-top: 6%;
    margin-left: 13%;
    position: absolute;
    text-align: left;
    font-size: clamp(1.4em, 1em + 5vw, 1.0em);
    line-height: 40px;
}
/* BOTÃO EVENTOS */
.botao3{
    font-family: 'Passion One'; 
    color: #ffffff;
    letter-spacing: 3px;
    background-color: #FFB200;
    border-color: #FFB200;
    border-radius: 7px;
    font-size: 35px;
    padding: 11px 30px;
    margin-left: 35%;
    margin-top: 23%;
    position: absolute;
}
/* EFEITO SLIDER EVENTOS */
#sliderev {
    width: 100%;
    max-width: 500px;
    height: 400px;
    max-height: 400px;
    position: absolute;
    left: 60%;
    top: 317%;
}

#sliderev img{
    opacity: 0;
    position: absolute;
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 15px;
    transition: opacity 600ms;
    z-index: 1;
}

#sliderev img.selectedev{ 
    opacity: 1;
}
#logomarista{
    margin-top: 39%;
    z-index: 2;
    height: 12%;
    margin-left: 34%;
    position: absolute;
}
/* ONDA FINAL */
.ondafin{
    position: absolute;
    bottom: 0;
    left: 0%;
    top:380%;
    width: 100%;
    z-index: -2;
}
